/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

/* Font-Family: 'Roboto Condensed', Sans-Serif;
Font-Size: 35px;
Font-Family: 'Cabin', Sans-Serif;
Font-Size: 16px; */
/* https://material.io/resources/color/#!/?view.left=0&view.right=1&primary.color=08115B&secondary.color=19DB94 */
/* https://visme.co/blog/website-color-schemes/
audacious and unique

#08115B
#0D18A4
#19DB94
#F4E5C2
#E3C57F */

/* body {
  background-color: #0d1aa2;
  color: #fff;
} */

